.wrapper{
    margin-bottom: 8px;
}
.menu-item{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color ease-in-out 200ms;
    &:hover{
        background-color:rgba(22, 24, 35, .03); ;
    }
    &.active{
        .icon{display: none;}
        .active-icon{display: flex;}
    }
}
.title{
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 8px;
}
.active{
    color: var(--primary);
}
.icon{
    display: flex;
}
.active-icon{
    display: none;
}